*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  padding: .5rem;
  max-width: 1500px;
  margin: 0 auto;
  color: #514f4f;
}
header,
footer {
  background-color: #070f1e;
}

main {
  min-height: 80vh;
}
li{
  list-style: none;
}
.container {
  max-width: 1260px;
  margin: auto;
}
.flex{
  display: flex;
}
.flex-end{
  justify-content: flex-end;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.center,
.j-center {
  justify-content: center;
}
.center,
.items-center{
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

/* width */
.w-full {
  width: 100%;
}

.w-half{
  width: 48%;
}

/* spacing */
.p-half{
  padding: .5rem;
}
.px-px{
  padding-left: 3px;
  padding-right: 3px;
}
.pl-half,
.px-half{
  padding-left: .5rem;
}

.pr-half,
.px-half{
  padding-right: .5rem;
}

.pt-half,
.py-half{
  padding-top: .5rem;
}

.pb-half,
.py-half{
  padding-bottom: .5rem;
}


.p-1 {
  padding: 1rem;
}

.pl-1, 
.px-1{
  padding-left: 1rem;
}
.pr-1,
.px-1 {
  padding-right: 1rem;
}


.pt-1,
.py-1 {
  padding-top: 1rem;
  
}

.pb-1,
.py-1 {
  padding-bottom: 1rem;
}

/* margin */

.mt-half,
.my-half {
  margin-top: .5rem;
  
}

.mb-half,
.my-half {
  margin-bottom: .5rem;
}


.m-1 {
  margin: 1rem;
}

.ml-1, 
.mx-1{
  margin-left: 1rem;
}
.mr-1,
.mx-1 {
  margin-right: 1rem;
}

.mt-1,
.my-1 {
  margin-top: 1rem;
  
}

.mb-1,
.my-1 {
  margin-bottom: 1rem;
}
.my-3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-2,
.mt-2{
  margin-top: 2rem;
}

.my-2,
.mb-2{
  margin-bottom: 2rem;
}
/* position */
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

/* texte */
.text-center {
  text-align: center;
}

.text-left{
  text-align: start;
}

.text-xs {
  
}
.text-s {

}

.text-m {

}

.text-l {

}

.text-xl {

}

.text-2xl {

}

.text-3xl {

}

/* texte color */
.text-light {
  color: #e8ecf4;
}
.text-dark-chocolate{
  color: #240424c9;
}

.text-success{
  color: #07ff00;
}
.text-gold{
  color: gold;
}

.pointer:hover{
  cursor: pointer;
}

.text-primary{
  color: #042054;
}




/* Card */

.row-card,
.classic-card {
  border: 1px solid;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  margin: .5%;
  padding: 1rem;
}

.row-card:hover,
.classic-card:hover {
  border-color: #042054;
}

.row-card,
.classic-card ,
.row-card-image
.classic-card-image{
  border-color:  #7374707e;
  
}

.row-card-image div img {
  border-radius: 1rem;
}

.row-card-image
.classic-card-image{
  border-bottom: 1px solid #7374707e;
  padding: 1rem;
}

.row-card-body
.classic-card-body {
  padding: 1rem;
}



/* background */
.bg-gold {
  background-color: gold;
}

.bg-light-blue{
  background-color: #e7faff;
}

.bg-light-gold{
  background-color: #f4eba5;
}

.bg-light-brown{
  background-color: #f4a5a5;
}

.bg-light-sucess{
  background-color: #ddf2d7;
}

/* border */
.br-1 {
  border-radius: 1rem;
}

.b-none{
  border: none;
}

.h-b:hover{
  border-color: 1px #042054 solid;
}

@media screen and (max-width: 1080px) {
  
}

@media screen and (max-width: 896px) {
  
}

@media screen and (max-width: 780px) {
  
}

@media screen and (max-width: 667px) {
  .banner-input{
    margin-top: 1rem !important;
    width: 80% !important;

  } 
  .banner-input>div{
    margin-top: 1rem !important;
  }

  .sm-column {
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 414px) {
  
}

@media screen and (max-width: 300px) {
  
}