*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0 auto;
  color: #514f4f;
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,237,193,0.062237394957983194) 0%, rgba(233,169,232,0.16867997198879547) 50%, rgba(242,231,155,0.09304971988795518) 68%, rgba(62,186,211,0.10425420168067223) 81%); */

}

.mw-220{
  min-width: 220px;
}
.auto{
  margin: auto;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.background-login{
  background-image: url("../assets/Images/background_login.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
}

a {
  text-decoration: none;
}

header,
footer {
  background-color: #070f1e;
}

main {
  min-height: 80vh;
}
li{
  list-style: none;
}
.container {
  max-width: 1260px;
  margin: auto;
}
.hide {
  display: none;
}
.flex{
  display: flex;
}
.flex-end{
  justify-content: flex-end;
}

.handle-password{
  top: 50%;
  margin-right: 10px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.center,
.j-center {
  justify-content: center;
}

.center,
.items-center{
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

/* underline */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(39, 39, 39);
}

.hover-underline-animation:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(39, 39, 39);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.hover-underline-animation:hover:after { 
  width: 100%; 
  left: 0; 
}

/* link */

.change-color-black:hover {
  color: rgb(39, 39, 39);
}

.change-color-white:hover {
  color: rgb(203, 203, 203);
}

.change-color-blue:hover {
  color: rgb(0, 136, 255);
}

/* input */
.input-login:focus,
.input-login:hover {
  color: rgb(208, 208, 208);
  outline: none;
  border: 1px solid rgb(255, 255, 255);
}

/* button */
.button-login:focus,
.button-login:hover {
  color: rgb(208, 208, 208);
}

/* width */
.w-full {
  width: 88%;
}

.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}
.w-50 {
  width: 50;
}

.w-half{
  width: 48%;
}
.w-30 {
  width: 30%;
}

.xs-width{
  max-width: 500px;
}
/* spacing */
.p-half{
  padding: .5rem;
}
.px-px{
  padding-left: 3px;
  padding-right: 3px;
}

.pb-px{
  padding-bottom: 3px;
}

.pl-half,
.px-half{
  padding-left: .5rem;
}

.pr-half,
.px-half{
  padding-right: .5rem;
}

.pt-half,
.py-half{
  padding-top: .5rem;
}

.pb-half,
.py-half{
  padding-bottom: .5rem;
}


.p-1 {
  padding: 1rem;
}

.pl-1, 
.px-1{
  padding-left: 1rem;
}
.pr-1,
.px-1 {
  padding-right: 1rem;
}


.pt-1,
.py-1 {
  padding-top: 1rem;
  
}

.pb-1,
.py-1 {
  padding-bottom: 1rem;
}

/* margin */

.mt-half,
.my-half {
  margin-top: .5rem;
  
}
.mt-litle,
.my-litle{
  margin-top: .0rem;
}

.mb-half,
.my-half {
  margin-bottom: .5rem;
}
.mx-half,
.m-half,
.ml-half {
  margin-left:.5rem;
}

.mx-half,
.m-half,
.mr-half {
  margin-right:.5rem;
}

.m-1 {
  margin: 1rem;
}

.ml-1, 
.mx-1{
  margin-left: 1rem;
}

.ml-little{
  margin-left: 0.5rem;
}

.mr-0,
.mx-0 {
  margin-right: 0rem;
}

.mr-1,
.mx-1 {
  margin-right: 1rem;
}

.ml-2, 
.mx-2{
  margin-left: 2rem;
}

.mr-2,
.mx-2 {
  margin-right: 2rem;
}

.mt-1,
.my-1 {
  margin-top: 1rem;
  
}

.mt-little{
  margin-top: 0.2rem;
  
}

.mb-1,
.my-1 {
  margin-bottom: 1rem;
}
.my-3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-4{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-5{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my-6{
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-7{
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.my-8{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my-9{
  margin-top: 9rem;
  margin-bottom: 9rem;
}

.my-10{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.my-11{
  margin-top: 11rem;
  margin-bottom: 11rem;
}

.my-12{
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.my-13{
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.my-14{
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.my-2,
.mt-2{
  margin-top: 2rem;
}

.my-2,
.mb-2{
  margin-bottom: 2rem;
}
/* position */
.absolute {
  position: absolute;
}
.btn:hover {
  cursor: pointer;
}
.relative {
  position: relative;
}

.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

/* texte */
.text-center {
  text-align: center;
}

.text-left{
  text-align: start;
}
.bold {
  font-weight: bold;
}
.text-xl {
  font-size: 1.2rem;
}

.rounded-full{
  border-radius: 50%;
}
.small-circle-img{
  width: 100px;
  height: 100px;
}
.profile-img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
/* 
.text-xs {
  
}
.text-s {

}

.text-m {

}

.text-l {

}

.text-xl {

}

.text-2xl {

}

.text-3xl {

} */

.bg-none {
  background: none;
}
/* fonts */

.bold{
  font-weight: bold;
}
/* texte color */
.text-light {
  color: #e8ecf4;
}
.text-dark-chocolate{
  color: #240424c9;
}
.success{
  background-color: #09ff0016;
  color: #0b5208;
}
.text-success{
  color: #07ff00;
}

.text-gold{
  color: gold;
}

.text-white{
  color: white;
}

.text-black{
  color: black;
}

.text-dark-grey{
  color: rgb(50, 50, 50);
}

.text-grey{
  color: rgb(39, 39, 39);
}

.text-light-grey{
  color: rgb(255, 255, 255);
}

.text-red{
  color: rgb(251, 57, 57);
}

.text-gray {
  color: #ccc;
}

.text-skyeblue{
  color: rgb(0, 225, 255);
}

.pointer:hover{
  cursor: pointer;
}

.text-primary{
  color: #042054;
}

.shadow-top{
  box-shadow: 4px 4px #4effe281, -.4em 0 .4em #a6c5ee;
}
.shadow{
  box-shadow: 4px 4px #eef1f081, -.4em 0 .4em #a6c5ee;
}

.shadow-large{
  box-shadow: 8px 8px #eef1f081, -.5em 0 .5em #a6c5ee;
}

/* Card */
.card{
  width: 300px;
  height: 430px;
  margin: 8px 5px;
  box-shadow: 4px 4px #8debdb81, -.5em 0 .4em #a6c5ee;
  cursor: pointer;
}

.card:hover {
  transform: translateY(1%);
  transition: all .1s ease-in-out;
}

.card-hearder{
  width: 100%;
}

.card-hearder>img{ 
  width: 100%;
  max-height: 200px;
}
.small-card-profile-img{
  /* max-width: 90px; */
  max-width: 170px;
  height: 120px;
}
.row-card,
.classic-card {
  border: 1px solid;
  border-radius: 1rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  margin: .5%;
  padding: 1rem;
  box-shadow: 4px 4px #25d0b481, -.5em 0 .4em #a6c5ee;
}

.row-card:hover,
.classic-card:hover {
  border-color: #042054;
}

.row-card,
.classic-card ,
.row-card-image
.classic-card-image{
  border-color:  #7374707e;
  
}

.row-card-image div img {
  border-radius: 1rem;
}

.row-card-image
.classic-card-image{
  border-bottom: 1px solid #7374707e;
  padding: 1rem;
}

.row-card-body
.classic-card-body {
  padding: 1rem;
}

.small-img{
  /* max-width: 90px; */
  min-width: 70px;
  max-width: 120px;
  max-height: 60px;
}
/* z-index */
.z-9999{
  z-index: 9999;
}
/* background */
.bg-primary {
  background-color: #042054;
}

.bg-opactity{
  background-color: rgba(37, 37, 37, 0.359);
}

.bg-gold {
  background-color: gold;
}

.bg-light-blue{
  background-color: #e7faff;
}

.bg-light-gold{
  background-color: #f4eba5;
}

.bg-light-brown{
  background-color: #f4a5a5;
}

.bg-light-sucess{
  background-color: #ddf2d7;
}

.danger{
  background-color: #f1000028;
  color: #fb001d;
}

/* border */

.add-img-box{
  width: 200px;
  height: 150px;
  /* max-height: 170px; */
}
.add-img-box img {
  min-width: 200px;
  max-height: 150px;
}
.hover-success:hover {
  border-color: #07ff00;
}

.border-1{
  border: 1px solid #ccc;
}
.br-1 {
  border-radius: 1rem;
}

.br-half {
  border-radius: .5rem;
}
.b-none{
  border: none;
}
.border-dashed-1{
  border: 2px dashed;
}
.border-gray {
  border-color: #9b9898;
}
.br-t-1{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.h-b:hover{
  border-color: 1px #042054 solid;
}
.hover-bg-success:hover{background-color: #07ff00;}

.erease-icone:hover {
  color: #b30418;
  font-size: 20px;
  cursor: pointer;
}

.success-icone:hover {
  color: #13cb4d;
  font-size: 20px;
  cursor: pointer;
}

.img-md{
  min-width: 500px;
  max-width: 800px;
  max-height: 350px;
}

.top-half{
  transform: translateY(-50%);
  top: 50%
}

.left-50{
  left: 50%;
  transform: translateX(-50%);
}

.rounded-full{
  border-radius: 50%;
}

.mh-350{
  min-height: 350px;
}

.mh-20{
  min-height: 40px;
}

.mh-100{
  min-height: calc(100vh - 57px);
}

.announce-head {
  background-color: #67fece1d;
  color: #012323;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.selectedOption {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selectedOption:hover {
  background-color: #f9f9f9;
}

.optionsList {
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.option {
  cursor: pointer;
  padding: 8px;
}

.option:hover {
  background-color: #f9f9f9;
}

/* table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}


@media screen and (max-width: 1080px) {
  .md-center{
    justify-content: center;
  }
  .card{
    width: 250px;
    height: 430px;
    margin: 8px 5px;
    box-shadow: 4px 4px #8debdb81, -.5em 0 .4em #a6c5ee;
    cursor: pointer;
  }
}

@media screen and (max-width: 896px) {
  .img-md{
    min-width: 400px;
    max-width: 700px;
    max-height: 250px;
  }

  .small-img{
    min-width:50px;
    max-width: 100px;
    max-height: 40px;
  }
}

@media screen and (max-width: 780px) {
  /* .img-md{
    min-width: 200px ;
    max-width: 500px !important;
    max-height: 120px;
  } */
}

@media screen and (max-width: 667px) {
  .banner-input{
    margin-top: 1rem !important;
    width: 80% !important;

  } 
  .banner-input>div{
    margin-top: 1rem !important;
  }

  .sm-column {
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
  }
  .xs-width{
    max-width: 350px;
  }

  .sm-center{
    justify-content: center;
  }

  /* .img-md{
    min-width: 200px ;
    max-width: 300px !important;
    max-height: 100px;
  } */
}

@media screen and (max-width: 414px) {
  /* .img-md{
    min-width: 180px !important;
    max-width: 300px !important;
    max-height: 10px !important;
  } */
  .mw-220 {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  
}